In [1]:
import pandas as pd
import scipy as sc
from scipy.stats import norm

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.style.use('ggplot')

In [2]:
ozonecleaned = pd.read_csv(
    'OzoneMaytoDec.csv', 
    index_col=['Date Local', 'State Name', 'County Name']
)

ozonecleaned = ozonecleaned[['Arithmetic Mean ppb', 'AQI']].groupby(ozonecleaned.index).mean()

no2cleaned = pd.read_csv(
    'NO22020MaytoDec.csv', 
    index_col=['Date Local', 'State Name', 'County Name']
)

no2cleaned = no2cleaned[['Arithmetic Mean cleaned', 'AQI']].groupby(no2cleaned.index).mean()

pm25cleaned = pd.read_csv(
    'pm25MaytoDec.csv', 
    index_col=['Date Local', 'State Name', 'County Name']
)

pm25cleaned = pm25cleaned[['Arithmetic Mean', 'AQI']].groupby(pm25cleaned.index).mean()

In [7]:
# select columns
# ozone only to 11/4 in original file, no2 and pm2.5 only to 10/31
# subset in pm2.5 = pm25[["Arithmetic Mean","State Name", "County Name","AQI","County Code"]]
# consider to trancate to the same important colums like in pm2.5that we will use 
# no2 unit: ppb, ozone data unit were changed from ppm to ppb too

# newozone = ozonecleaned[['Site Num', 'POC', 'Latitude', 'Longitude', 'Units of Measure', 'Observation Count', 'Observation Percent',
#              'Arithmetic Mean', '1st Max Value', '1st Max Hour', 'AQI', 'Local Site Name', 'State Name', 'County Name', 
#               'City Name', 'Arithmetic Mean ppb']]
# newno2 = no2cleaned[['Site Num', 'POC', 'Latitude', 'Longitude', 'Units of Measure', 'Observation Count', 'Observation Percent',
#                     'Arithmetic Mean', '1st Max Value', '1st Max Hour', 'AQI', 'Local Site Name', 'State Name', 'County Name',
#                     'City Name', 'Arithmetic Mean cleaned']]


merge = ozonecleaned.join(no2cleaned, lsuffix='_ozone', rsuffix='_no2').join(pm25cleaned, rsuffix='_pm25')
merge = merge.set_index(pd.MultiIndex.from_tuples(merge.index, names=['Date Local', 'State Name', 'County Name'])).reset_index()
# merge.to_csv('merged.csv')
merge = merge[~merge['State Name'].isin(['Country Of Mexico', 'District Of Columbia', 'Puerto Rico'])]
merge['State Name'].unique()
merge['County Name'].unique()
merge['uniqueID'] = merge['County Name'] + ', ' + merge['State Name']
merge.to_csv('AQData.csv')

In [4]:
merge.head()

,Date Local,State Name,County Name,Arithmetic Mean ppb,AQI_ozone,Arithmetic Mean cleaned,AQI_no2,Arithmetic Mean,AQI
0,2020-05-01,Alabama,Baldwin,35.000000,50.000000,NaN,NaN,NaN,NaN
1,2020-05-01,Alabama,DeKalb,47.000000,58.000000,NaN,NaN,NaN,NaN
2,2020-05-01,Alabama,Elmore,28.000000,44.000000,NaN,NaN,NaN,NaN
3,2020-05-01,Alabama,Etowah,34.000000,51.000000,NaN,NaN,NaN,NaN
4,2020-05-01,Alabama,Jefferson,30.333333,47.666667,15.311553,32.0,11.0125,46.0